.header.contact {
    grid-template-rows: 310px 130px;
}

.header.contact .header-inner {
    max-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header.contact .header-inner h1 {
    max-width: 270px;
    color: black;
}
.header.contact .header-inner  img {
    width: 200px;
    position: absolute;
    right: 10px;
    bottom: 0;
}




/* nav */
.header.contact .header-nav{
    display: flex;
}

.header.contact .header-nav {
    flex-direction: row;
    flex-flow: wrap;
}

.header.contact .header-nav a {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* main */
main {
    display: block;
    
}
main .main-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-top: 10px;
    padding-bottom: 120px;
}

main .main-inner .main-header {
    /* background-color: red; */
}

main .main-inner .main-header h1 {
    width: max-content;
    margin-inline: auto;
}


/* form */

main .main-inner .form-collection {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    max-width: 400px;
    padding-inline: 10px;
    color: white;
        /* background-color: green; */
}

main .main-inner .form-collection .form-row {
    display: flex;
    flex-direction: column;
}

main .main-inner .form-collection .form-row label {
    padding-bottom: 4px;
}

main .main-inner .form-collection .form-row input,
main .main-inner .form-collection .form-row textarea {
    padding: 8px;
}



main .main-inner .form-collection button {
    align-self: flex-end;
    margin-right: 0;
}

main .main-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: orange;
}

main .main-map .our-map {
    width: 600px;
    max-width: 600px;

    height: 300px;
    background-color: white;

}

main .main-map .box {
    width: max-content;
    height: 200px;
    position: absolute;
    margin-top: -90px;
}
main .main-map .box p {
    color: white;
    padding-block: 2px;
}


@media screen and (min-width: 600px) {

    .header.contact {
        grid-template-columns: 1fr;
        grid-template-rows: 310px 0px;
    }

    .header.contact .covered-inner {
        grid-template-rows: 310px 0px;
        justify-content: center;
    }

    .header.contact .header-nav {
        flex-wrap: nowrap;
        justify-content: center;
        column-gap: 20px;
    }
    
    .header.contact .header-nav a {
        width: auto;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .main-inner {
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: 1fr;
        align-items: flex-start;
        column-gap: 30px;
        padding-top: 50px;
    }


}