.header {
    grid-template-rows: 310px 130px;
}

.header .header-inner {
    max-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header .header-inner .content {
    width: 100%;
    height: 100%;
    max-width: 360px;
    position: relative;
    display: flex;
    align-items: center;
}

.header .header-inner h1 {
    max-width: 270px;
    color: black;
}
.header .header-inner  img {
    width: 200px;
    position: absolute;
    right: 10px;
    bottom: 0;
}

.header .header-inner h1 {
    width: 185px;
}


/* nav */
.header .header-nav{
    display: flex;
}

.header .header-nav {
    flex-direction: row;
    flex-flow: wrap;
}

.header .header-nav a {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* main */
main {
    display: block;
    
}
main .main-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-top: 10px;
    padding-bottom: 120px;
}

main .main-inner .main-header {
    /* background-color: red; */
}

main .main-inner .main-header h1 {
    margin-inline: auto;
    width: 400px;
}


/* form */

main .main-inner .form-collection {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    max-width: 400px;
    padding-inline: 10px;
    color: white;
        /* background-color: green; */
}

main .main-inner .form-collection .form-row {
    display: flex;
    flex-direction: column;
}

main .main-inner .form-collection .form-row label {
    padding-bottom: 4px;
    padding-left: 8px;
}

main .main-inner .form-collection .form-row input,
main .main-inner .form-collection .form-row textarea {
    padding: 8px;
}



main .main-inner .form-collection button {
    align-self: flex-end;
    margin-right: 0;
}

main .main-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: orange;
}

main .main-map .img-container {
    width: 100%;

    position: relative;
    background-color: red;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 372px;
    border-top: 1px solid #fff;
}

main .main-map .our-map {
    background-color: white;
    background-size: cover;
}

main .main-map .box {
    width: max-content;
    height: 180px;
    position: absolute;
    margin-top: -90px;
    z-index: 1;
}
main .main-map .box p {
    color: white;
    padding-block: 2px;
}

.footer {
    display: none;
}


@media screen and (min-width: 700px) {

    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 310px 0px;
    }

    .header .header-inner .content {
        justify-content: center;
    }

    .header .covered-inner {
        grid-template-rows: 310px 0px;
        justify-content: center;
    }
    .header .header-inner .content h1 {
        width: max-content;
    }

    .header .header-inner img {
        right: -100px;
    }


    .header .header-nav {
        flex-wrap: nowrap;
        justify-content: center;
        column-gap: 20px;
    }
    
    .header .header-nav a {
        width: auto;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .main-inner {
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: 1fr;
        align-items: flex-start;
        column-gap: 30px;
        padding-top: 50px;
    }

    main .main-inner .main-header h1 {
        width: 300px;
    }

    main .main-inner .form-collection {
        padding-top: 16px;
    }

    main .main-map {
        height: 372px;
    }

    .footer {
        display: block;
    }

}