* { box-sizing: border-box; }
body {
    margin: 0;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body > header {
    display: flex;
    flex-direction: column;
        /* display: none; */
}

h2 {
    margin: 0;
    color: white;
 }

 button {
    margin: 16px;
    padding: 16px 30px;
    background-color: white;
    border: 0;
    border-radius: 22px;
    box-shadow: 1px 1px 1px #aaa;
    font-size: 60%;
    font-weight: bold;
    display: block;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #fff;
        display: none;
}
nav a {
    color: #222;
    text-decoration: none;
}


.header-section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 640px 265px 265px;
    grid-template-rows: 625px 275px 275px;
}

.header-section h1 {
    font-size: 190%;
}

.covered {
    position: relative;
}
.covered h1,
.covered p {
    margin-top: 50px;
    margin-bottom: 0;
    padding: 16px;
    font-size: 75%;
}
.covered h1 { font-size:  220%;}
.covered p { line-height: 150%;}

.covered .price {
    color: white;
    font-weight: bold;
}

.covered img {
    height: 290px; height: 280px;
    position: absolute;
    bottom: 0px;
    right: 8px;
}

.box-h {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-h p {
    font-size: 60%;
}

.header-section p {
     margin: 0;
     
 }




 /*--- main ---*/
main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

section.how-it-works {
    color: black;
    font-weight: bold;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* background-color: #C7DDEA; */
}

.how-box {
    height: 146px;
    color: #333;
    font-size: 90%;
    text-align: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.how-box h1 {
    color: black;
    font-size: 240%;
}

.nbr {
    color: #888;
    font-size: 150%;
    font-weight: bold;
    position: absolute;
    left: 8px;
    top: 8px;
}


 /*--- footer ---*/
 footer {
    height: 200px;
 }
 .to-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
 }
 .to-top .txt {
    margin: 0;
    margin-top: -6px;
}


.bg-blueish { background-color: #C7DDEA; }
.bg-orangeish { background-color: #F17949; }
.bg-yellowish { background-color: #FAB131; }
.bg-brownish { background-color: #A9A19E; }
.bg-grayish { background-color: #777574; }
.bg-lightgray { background-color: #ebebeb; }




@media screen and (min-width: 600px) {
    section.how-it-works {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .how-box {
        font-size: 80%;
    }

    .header-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 250px;
    }

    .covered {
        grid-row: 1 / 3;
    }


    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}