* { box-sizing: border-box; }
body {
    margin: 0;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body > header {
    display: flex;
    flex-direction: column;

    background-color: #ddd;
}

h2 {
    margin: 0;
    color: white;
 }

nav {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
nav a {
    color: #222;
    text-decoration: none;
}


.header-section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 640px 320px 320px;
    background-color: red;
}
.header-section h1 {
    font-size: 190%;
}

.covered {
    background-color: lightblue;
    position: relative;
}
.covered h1,
.covered p {
    padding: 16px;
}
.covered .price {
    color: white;
}

.covered img {
    height: 300px;
    position: absolute;
    bottom: 0px;
}

.box-h {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-section  .learn {
    background-color: darkorange;
}
.header-section .join {
    background-color: orange;
}
.header-section p { margin: 0; }